

<table>
  <td>
    <div class = "hours">
      <img src = "../images/table.jpg" width = "480px" height = "319.5px" alt = "dim sum table">
    </div>
  </td>
  <td>
    <div class = "hours">
      <h2>Hours of Operation</h2>
      <ul class ="about">
        <li> Mon	8:30 am - 10:30 pm</li>
        <li> Tue	8:30 am - 10:30 pm</li>
        <li> Wed	8:30 am - 10:30 pm</li>
        <li> Thu	8:30 am - 10:30 pm</li>
        <li> Fri	8:30 am - 10:30 pm</li>
        <li> Sat	8:30 am - 10:30 pm</li>
        <li> Sun	8:30 am - 10:30 pm</li>
      </ul>
    </div>
  </td>
  <table>
