<h3 style="text-align:center">
  <a href="../pdfs/fullMenu.pdf" style="color:blue">Click here for our dim sum take-out menu!</a>
</h3>
<h3 style="text-align:center">
  <a href="../pdfs/fullMenu.pdf" style="color:blue">Click here if you would like to download the full menu listed below.</a>
</h3>

<table>
  <tr>
    <td>
      <table>
        <th><strong>Appetizers</strong></th>
        <th><strong>頭盤</strong></th>
        <tr>
          <td style="width:50%">Spring Roll</td>
          <td>春卷</td>
          <td>$4.95(3pcs)</td>
        </tr>
        <tr>
          <td>Duck’s Tongue w. Soy Sauce</td>
          <td>豉油皇鴨舌</td>
          <td>$15.95</td>
        </tr>
        <tr>
          <td>Hot & Spicy Jellyfish(Cold Dish)</td>
          <td>麻辣海蜇</td>
          <td>$14.95</td>
        </tr>
        <tr>
          <td>Crispy Fried Intestine</td>
          <td>脆皮炸大腸</td>
          <td>$14.95</td>
        </tr>
        <tr>
          <td>Spare Ribs</td>
          <td>香味麻香骨</td>
          <td>$14.95</td>
        </tr>
        <tr>
          <td>Shredded Squid w. Cashew Nuts</td>
          <td>腰果吊片絲</td>
          <td>$13.95</td>
        </tr>
        <tr>
          <td>Roast Pork w. BBQ. Sauce</td>
          <td>蜜汁叉燒</td>
          <td>$12.95</td>
        </tr>
        <tr>
          <td>Pan Fried Stuffed Pepper</td>
          <td>煎釀角椒</td>
          <td>$12.95(6pcs)</td>
        </tr>
        <tr>
          <td>Shrimp Tofu Skin Roll</td>
          <td>鮮蝦腐皮卷</td>
          <td>$11.95</td>
        </tr>
        <tr>
          <td>Dim Sum Platter(Shrimp Dumpling\Shaw Mai\Spring Roll)</td>
          <td>點心三拼</td>
          <td>$15.95</td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <th><strong>Soup</strong></th>
        <th><strong>湯羹類</strong></th>
        <tr>
          <td style="width:45%">House Special Seafood Soup</td>
          <td>一品海皇羹</td>
          <td>$15.95</td>
        </tr>
        <tr>
          <td>Chives w. Dry Scallop Soup</td>
          <td>韭王瑤柱羹</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Seafood w. Fish Maw Soup</td>
          <td>海皇魚肚羹</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Crab Meat w. Fish Maws Soup</td>
          <td>蟹肉魚肚羹</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Beef w. Chinese Parsley Soup</td>
          <td>西湖牛肉羹</td>
          <td>$15.95</td>
        </tr>
        <tr>
          <td>Velvety Chicken Corn Soup</td>
          <td>雞茸玉米羹</td>
          <td>15.95</td>
        </tr>
        <tr>
          <td>Sweet & Sour Soup(Taiwanese Style)</td>
          <td>寶島酸辣湯（每位）</td>
          <td>$3.95ea</td>
        </tr>
        <tr>
          <td>Egg Drop Soup</td>
          <td>蛋花湯（每位）</td>
          <td>$3.50ea</td>
        </tr>
      </table>
    <td>
  </tr>

  <tr>
    <td>
      <table>
        <th><strong>Chef’s Special</strong></th>
        <th><strong>廚師精選</strong></th>
        <tr>
          <td style="width:50%">Steamed Frog w. Sticky Rice & Chinese Sausage in Lotus Leaf</td>
          <td>荷香臘味糯米蒸田雞</td>
          <td>$28.95</td>
        </tr>
        <tr>
          <td>House Special Stir Fried Vegetable & Mixed Meat</td>
          <td>彩福小炒王</td>
          <td>$28.95</td>
        </tr>
        <tr>
          <td>Steamed Egg Tofu w. Milk & Egg white</td>
          <td>翠棠白玉</td>
          <td>$19.95</td>
        </tr>
        <tr>
          <td>Frog w. Peppers</td>
          <td>辣子田雞</td>
          <td>$22.95</td>
        </tr>
        <tr>
          <td>Frog w. Squash & Fungus</td>
          <td>勝瓜雲耳炒田雞</td>
          <td>$22.95</td>
        </tr>
        <tr>
          <td>Stir Fried Frog w. Peppers & Chinese Celery</td>
          <td>角椒唐芹炒田雞</td>
          <td>$22.95</td>
        </tr>
        <tr>
          <td>Stir Fried Frog w. Chives</td>
          <td>韭菜花炒田雞</td>
          <td>$22.95</td>
        </tr>
        <tr>
          <td>Crispy Tofu Chunks</td>
          <td>金沙豆腐粒</td>
          <td>$17.95</td>
        </tr>
        <tr>
          <td>Stir Fried Minced Meat w. Chinese Oliver Leafs</td>
          <td>碧綠木欖菜炒肉碎</td>
          <td>$17.95</td>
        </tr>
        <tr>
          <td>Steak Cube in French Style</td>
          <td>法式士的球</td>
          <td>$30.9</td>
        </tr>
        <tr>
          <td>Squid & Pork Belly w. Scallion</td>
          <td>香蔥肚球吊片</td>
          <td>$25.95</td>
        </tr>
        <tr>
          <td>Lamb Chop w. Scallion</td>
          <td>香蔥羊扒</td>
          <td>$28.95</td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <th><strong>Hot Plates</strong></th>
        <th><strong>巧手鐵板類</strong></th>
        <tr>
          <td style="width:50%">Veal Chop w. Black Pepper on Hot Plate</td>
          <td>鐵板黑椒牛仔骨</td>
          <td>$19.95</td>
        </tr>
        <tr>
          <td>Chicken w. Black Bean on Hot Plate</td>
          <td>鐵板豆豉雞</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Frog w. Scallion & Ginger on Hot Plate</td>
          <td>鐵板姜蔥田雞</td>
          <td>$22.95</td>
        </tr>
        <tr>
          <td>Stuffed Triple Combo on Hot Plate</td>
          <td>鐵板煎醸三寶</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Salty Fish、Dice Meat & Eggplant on Hot Plate</td>
          <td>鐵板咸魚肉鬆茄子</td>
          <td>$17.95</td>
        </tr>
        <tr>
          <td>Pork Belly、Gingko & Dry Bean Curb Stick in a Bowl</td>
          <td>腐竹白果浸豬肚</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Fish Paste & Vegetable w. Chicken Broth</td>
          <td>上湯魚滑浸時蔬</td>
          <td>$20.95</td>
        </tr>
        <tr>
          <td>Clams w. Dried Shrimp & Squash in Rice Noodle Soup</td>
          <td>蝦干勝瓜花蜆浸銀絲</td>
          <td>$20.95</td>
        </tr>
        <tr>
          <td>Seasonal Vegetable w. Beef Stew Sauce in a Bowl</td>
          <td>腩汁鍋仔浸時蔬</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Pork Belly & Preserved Cabbage w. Chicken Broth</td>
          <td>鍋仔上湯味菜浸豬肚</td>
          <td>$22.95</td>
        </tr>
        <tr>
          <td>Fresh Mushroom w. Chicken Broth</td>
          <td>上湯浸鮮菌</td>
          <td>$18.95</td>
        </tr>
      </table>
    </td>
  </tr>



  <tr>
    <td>
      <table>
        <th><strong>Abalone\Sea Cucumber\Goose Feet</strong></th>
        <th><strong>鮑魚海參鵝掌類</strong></th>
        <tr>
          <td style="width:50%">Braised Goose Feet & Whole Abalone</td>
          <td>原隻鮑魚扣鵝掌（每位）</td>
          <td>$M.P.</td>
        </tr>
        <tr>
          <td>Abalone w. Mushroom</td>
          <td>北菇鮑片</td>
          <td>$33.95</td>
        </tr>
        <tr>
          <td>Abalone w. Vegetable</td>
          <td>碧綠鮑片</td>
          <td>$33.95</td>
        </tr>
        <tr>
          <td>Abalone w. Oyster Sauce</td>
          <td>金銀鮑片</td>
          <td>$35.95</td>
        </tr>
        <tr>
          <td>Sea Cucumber w. Mushroom & Vegetable</td>
          <td>碧綠北菇海參</td>
          <td>$32.95</td>
        </tr>
        <tr>
          <td>Mushroom w. Goose Feet</td>
          <td>北菇鵝掌煲</td>
          <td>$32.95</td>
        </tr>
        <tr>
          <td>Abalone, Sea Cucumber & Goose Feet Casserole</td>
          <td>鮑參鵝掌煲</td>
          <td>$42.95</td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <th><strong>Chicken</strong></th>
        <th><strong>雞類</strong></th>
        <tr>
          <td style="width:50%">Steamed Fresh Farm Chicken</td>
          <td>清遠走地雞（半隻）</td>
          <td>$15.95</td>
        </tr>
        <tr>
          <td>Crispy Chicken</td>
          <td>炸子雞（半隻）</td>
          <td>$15.95</td>
        </tr>
        <tr>
          <td>Chicken w. Ginger Sauce</td>
          <td>沙姜霸王雞（半隻）</td>
          <td>$15.95</td>
        </tr>
        <tr>
          <td>Steamed Chicken w. Scallion & Ginger</td>
          <td>姜蔥油淋雞（半隻）</td>
          <td>$15.95</td>
        </tr>
        <tr>
          <td>Crispy Chicken w. Garlic Sauce</td>
          <td>蒜香炸子雞（半隻）</td>
          <td>$15.95</td>
        </tr>
        <tr>
          <td>Chicken w. Vegetable</td>
          <td>菜遠雞球</td>
          <td>$14.95</td>
        </tr>
        <tr>
          <td>Diced Chicken w. Cashew Nuts</td>
          <td>腰果雞丁</td>
          <td>$14.95</td>
        </tr>
        <tr>
          <td>Sweet & Sour Chicken</td>
          <td>甜酸雞</td>
          <td>$14.95</td>
        </tr>
        <tr>
          <td>General Tso’s Chicken</td>
          <td>左宗雞</td>
          <td>$14.95</td>
        </tr>
        <tr>
          <td>Sliced Chicken w. Straw Mushroom</td>
          <td>鮮菇雞片</td>
          <td>$14.95</td>
        </tr>
        <tr>
          <td>Slice Chicken w. Mixed Vegetable</td>
          <td>雞片小炒</td>
          <td>$14.95</td>
        </tr>
      </table>
    </td>
  </tr>


  <tr>
    <td>
      <table>
        <th><strong>Steak and Beef</strong></th>
        <th><strong>牛類</strong></th>
        <tr>
          <td style="width:50%">House Special Steak</td>
          <td>彩福生燒牛扒</td>
          <td>$29.95</td>
        </tr>
        <tr>
          <td>Steak Kew w. Asparagus</td>
          <td>蘆筍士的球</td>
          <td>$23.95</td>
        </tr>
        <tr>
          <td>Steak Kew w. Squash & Fungus</td>
          <td>勝瓜雲耳士的球</td>
          <td>$23.95</td>
        </tr>
        <tr>
          <td>Steak w. Black Bean Sauce on Hot Plate</td>
          <td>鐵板玉樹牛柳</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Hong Kong Style Steak</td>
          <td>中式牛柳.</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Steak w. Black Pepper on Hot Plate</td>
          <td>鐵板黑椒牛柳</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Beef w. Vegetable</td>
          <td>菜遠牛肉</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Beef w. Oyster Sauce</td>
          <td>蚝油牛肉</td>
          <td>$16.95</td>
        </tr>
        <tr>
          <td>Beef w. Straw Mushroom</td>
          <td>鮮菇牛肉</td>
          <td>$16.95</td>
        </tr>
        <tr>
          <td>Beef w. Orange Flavor</td>
          <td>陳皮牛肉</td>
          <td>$16.95</td>
        </tr>
        <tr>
          <td>Beef w. Satay Sauce</td>
          <td>沙爹牛肉</td>
          <td>$16.95</td>
        </tr>
        <tr>
          <td>Beef w. Broccoli</td>
          <td>西蘭牛肉</td>
          <td>$16.95</td>
        </tr>
        <tr>
          <td>Beef w. Scallion</td>
          <td>蔥爆牛肉</td>
          <td>$16.95</td>
        </tr>
        <tr>
          <td>Shredded Beef w. Preserved Cabbage</td>
          <td>味菜牛柳絲</td>
          <td>$16.95</td>
        </tr>
        <tr>
          <td>Shredded Beef w. Mixed Vegetable</td>
          <td>七彩牛柳絲</td>
          <td>$19.95</td>
        </tr>
        <tr>
          <td>Veal Chop w. Scallion</td>
          <td>香蔥牛仔骨</td>
          <td>$19.95</td>
        </tr>
        <tr>
          <td>Pan Fried Veal Chop w. Pepper</td>
          <td>蜜椒生煎牛仔骨</td>
          <td>$19.95</td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <th><strong>Pork</strong></th>
        <th><strong>豬肉類</strong></th>
        <tr>
          <td style="width:50%">Peking Style Pork Chop</td>
          <td>京都骨</td>
          <td>$15.95</td>
        </tr>
        <tr>
          <td>Salty Pepper Pork Chop</td>
          <td>椒鹽骨</td>
          <td>$15.95</td>
        </tr>
        <tr>
          <td>Pork Chop w. Scallion</td>
          <td>香蔥豬扒</td>
          <td>$15.95</td>
        </tr>
        <tr>
          <td>Pork Chop w. Onion</td>
          <td>洋蔥豬扒</td>
          <td>$15.95</td>
        </tr>
        <tr>
          <td>Sweet & Sour Pork Kew w. Pineapple</td>
          <td>菠蘿咕嚕肉</td>
          <td>$15.95</td>
        </tr>
        <tr>
          <td>Sliced Pork w. Mixed Vegetable</td>
          <td>肉片小炒</td>
          <td>$15.95</td>
        </tr>
        <tr>
          <td>Shredded Pork w. Garlic Sauce</td>
          <td>魚香肉絲</td>
          <td>$15.95</td>
        </tr>
        <tr>
          <td>Stir Fried Pig’s Belly w. Peppers & Broccoli</td>
          <td>角椒唐蘭炒肚尖</td>
          <td>$15.95</td>
        </tr>
        <tr>
          <td>Stir Fried Pig’s Belly w. Black Bean Sauce</td>
          <td>豉汁炒肚尖</td>
          <td>$20.95</td>
        </tr>
        <tr>
          <td>Intestine w. Pepper & Sour Cabbage</td>
          <td>酸菜角椒大腸</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Scallion & Intestine in Casserole</td>
          <td>香蔥啫啫大腸煲</td>
          <td>$19.95</td>
        </tr>
        <tr>
          <td>Stir Fried Salty Meat w. Chives</td>
          <td>韭菜花炒咸肉</td>
          <td>$17.95</td>
        </tr>
      </table>
    </td>
  </tr>



  <tr>
    <td>
      <table>
        <th><strong>Seafood</strong></th>
        <th><strong>海鮮類</strong></th>
        <tr>
          <td style="width:50%">Snails w. Fish Sauce</td>
          <td>魚露石螺</td>
          <td>$17.95</td>
        </tr>
        <tr>
          <td>Stir Fried Clam w. Black Bean Sauce</td>
          <td>豉汁炒蜆</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Jumbo Shrimp w. Walnuts</td>
          <td>核桃沙汁蝦球</td>
          <td>$25.95</td>
        </tr>
        <tr>
          <td>Jumbo Shrimp w. XO Sauce</td>
          <td>X.O 醬蝦球</td>
          <td>$23.95</td>
        </tr>
        <tr>
          <td>Stir Fried Jumbo Shrimp</td>
          <td>油泡蝦球</td>
          <td>$25.95</td>
        </tr>
        <tr>
          <td>Jumbo Shrimp w. Garlic Sauce</td>
          <td>魚香蝦球</td>
          <td>$25.95</td>
        </tr>
        <tr>
          <td>Jumbo Shrimp w. Salty Pepper Powder</td>
          <td>椒鹽蝦球</td>
          <td>$22.95</td>
        </tr>
        <tr>
          <td>Jumbo Shrimp & Scallop w. XO Sauce</td>
          <td>X.O.醬蝦球帶子</td>
          <td>$26.95</td>
        </tr>
        <tr>
          <td>Stir Fried Jumbo Shrimp & Scallop</td>
          <td>油泡蝦球帶子</td>
          <td>$26.95</td>
        </tr>
        <tr>
          <td>Squid w. Salty Pepper Powder</td>
          <td>椒鹽鮮魷</td>
          <td>$14.95</td>
        </tr>
        <tr>
          <td>Squid w. Sour Cabbage</td>
          <td>酸菜鮮魷</td>
          <td>$14.95</td>
        </tr>
        <tr>
          <td>Squid w. Black Bean Sauce & Pepper</td>
          <td>豉椒鮮魷</td>
          <td>$14.95</td>
        </tr>
        <tr>
          <td>Braised Scallop</td>
          <td>紅燒帶子</td>
          <td>$24.95</td>
        </tr>
        <tr>
          <td>Scallop w. Black Bean Sauce</td>
          <td>豉汁帶子</td>
          <td>$24.95</td>
        </tr>
        <tr>
          <td>Scallop w. Garlic Sauce</td>
          <td>魚香帶子</td>
          <td>$24.95</td>
        </tr>
        <tr>
          <td>Scallop w. Salty Pepper Powder</td>
          <td>椒鹽帶子</td>
          <td>$24.95</td>
        </tr>
        <tr>
          <td>Cuttlefish w. XO Sauce</td>
          <td>X.O.醬爆花枝片</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Stir Fried Sliced Conch</td>
          <td>油泡螺片</td>
          <td>$40.95</td>
        </tr>
        <tr>
          <td>Steamed Sliced Conch</td>
          <td>白灼螺片</td>
          <td>$40.95</td>
        </tr>
        <tr>
          <td>Sliced Conch & Scallop w. Vegetable</td>
          <td>碧綠螺片帶子</td>
          <td>$40.95</td>
        </tr>
        <tr>
          <td>Steamed Flounder Fish</td>
          <td>清蒸龍利</td>
          <td>$23.95</td>
        </tr>
        <tr>
          <td>Pan Fried Flounder Fish</td>
          <td>干煎龍利</td>
          <td>$24.95</td>
        </tr>
        <tr>
          <td>Deep Fried Flounder Fish Filet (Hong Kong Style)</td>
          <td>避風塘斑球</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Flounder Fish Filet w. Sweet Corn</td>
          <td>玉米斑球</td>
          <td>$17.95</td>
        </tr>
        <tr>
          <td>Sweet & Sour Flounder Fish Fillet</td>
          <td>甜酸斑球</td>
          <td>$17.95</td>
        </tr>
        <tr>
          <td>Flounder Fish Fillet w. Squash & Fungus</td>
          <td>勝瓜雲耳炒斑球</td>
          <td>$17.95</td>
        </tr>
        <tr>
          <td>Pan Fried Flounder Fish Fillet</td>
          <td>增城炒斑球</td>
          <td>$17.95</td>
        </tr>
        <tr>
          <td>Stir Fried Shrimp</td>
          <td>清炒蝦仁</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Stir Fried Shrimp w. Eggs</td>
          <td>蝦仁炒蛋</td>
          <td>$16.95</td>
        </tr>
        <tr>
          <td>Stir Fried Shrimp w. Cashew Nuts</td>
          <td>腰果蝦仁</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Gong Po Shrimp</td>
          <td>宮保蝦仁</td>
          <td>$16.95</td>
        </tr>
        <tr>
          <td>Squid w. XO Sauce</td>
          <td>X.O.醬吊片球</td>
          <td>$22.95</td>
        </tr>
        <tr>
          <td>Triple Meat Combo w. Scallion</td>
          <td>香蔥三片</td>
          <td>$33.95</td>
        </tr>
        <tr>
          <td>Cucumber Conch w. Asparagus</td>
          <td>蘆筍桂花蚌</td>
          <td>$35.95</td>
        </tr>
        <tr>
          <td>Cucumber Conch & Scallop w. Vegetable</td>
          <td>碧綠桂花蚌帶子</td>
          <td>$35.95</td>
        </tr>
        <tr>
          <td>Cucumber Conch w. Soy Sauce</td>
          <td>豉油皇桂花蚌</td>
          <td>$35.95</td>
        </tr>
        <tr>
          <td>House Special Stir Fried Lobster or Crab w. Shredded Meat</td>
          <td>彩福銀絲肉炒龍蝦或蟹</td>
          <td>$S.P.</td>
        </tr>
        <tr>
          <td>Lobster or Crab w. Scallion & Ginger</td>
          <td>姜蔥龍蝦或蟹</td>
          <td>$S.P</td>
        </tr>
        <tr>
          <td>Lobster or Crab Cantonese Style(w. Black Bean & Shredded Meat)</td>
          <td>廣東龍蝦或蟹</td>
          <td>$S.P.</td>
        </tr>
        <tr>
          <td>Deep Fried Lobster or Crab( Hong Kong Style)</td>
          <td>避風塘龍蝦或蟹</td>
          <td>$S.P.</td>
        </tr>
        <tr>
          <td>Steamed Lobster or Crab over Sticky Rice w. Lotus Leaf</td>
          <td>荷香糯米蒸龍蝦或蟹</td>
          <td>$S.P.</td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <th><strong>Rice Noodle & White Rice</strong></th>
        <th><strong>粉、面、飯類</strong></th>
        <tr>
          <td style="width:50%">House Special Fried Rice</td>
          <td>本樓炒飯</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Fried Rice w. Egg Yellow & Egg White</td>
          <td>金銀蛋炒飯</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Young Chow Fried Rice</td>
          <td>揚州炒飯</td>
          <td>$15.95</td>
        </tr>
        <tr>
          <td>Crab Meat Fried Rice w. Ginger & Eggs</td>
          <td>老姜蟹肉蛋炒飯</td>
          <td>$20.95</td>
        </tr>
        <tr>
          <td>Shrimp Fried Rice</td>
          <td>蝦仁炒飯</td>
          <td>$16.95</td>
        </tr>
        <tr>
          <td>Beef Fried Rice</td>
          <td>生炒牛飯</td>
          <td>$16.95</td>
        </tr>
        <tr>
          <td>Mixed Vegetable Fried Rice</td>
          <td>雜菜炒飯</td>
          <td>$14.95</td>
        </tr>
        <tr>
          <td>Salty Fish & Diced Chicken Fried Rice</td>
          <td>咸魚雞粒炒飯</td>
          <td>$16.95</td>
        </tr>
        <tr>
          <td>Fu Jian Fried Rice(w. Scallop & Shrimp)</td>
          <td>福建炒飯</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Amazing Yin Yang Fried Rice</td>
          <td>鴛鴦炒飯</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Seafood Fried Noodles</td>
          <td>海鮮炒面</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Amoy Chow Mein w. Slice Squid & Soy Sauce</td>
          <td>豉油皇吊片絲炒面</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Chicken Chow Mein</td>
          <td>雞球炒面</td>
          <td>$16.95</td>
        </tr>
        <tr>
          <td>Beef Chow Mein</td>
          <td>牛肉炒面</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Shredded Pork Chow Mein</td>
          <td>肉絲炒面</td>
          <td>$16.95</td>
        </tr>
        <tr>
          <td>Mixed Vegetable Chow Mein</td>
          <td>雜菜炒面</td>
          <td>$15.95</td>
        </tr>
        <tr>
          <td>Amoy Chow Mei Fun(Rice Noodle w. Shrimp)</td>
          <td>廈門炒米</td>
          <td>$15.95</td>
        </tr>
        <tr>
          <td>Singapore Curry Vermicelli</td>
          <td>星洲炒米</td>
          <td>$15.95</td>
        </tr>
        <tr>
          <td>Tai Pan Chow Mei Fun</td>
          <td>大鵬炒米</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Braised Long-live Noodle w. Crab Meat</td>
          <td>蟹肉干燒伊面</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Braise Long-live Noodle w. Dry Mushroom</td>
          <td>北菇干燒伊面</td>
          <td>$16.95</td>
        </tr>
        <tr>
          <td>Beef Chow Fun</td>
          <td>干炒牛河</td>
          <td>$16.95</td>
        </tr>
        <tr>
          <td>Beef Chow Fun w. Vegetable</td>
          <td>菜遠牛肉炒河</td>
          <td>$16.95</td>
        </tr>
        <tr>
          <td>Beef Chow Fun w. Black Bean & Pepper</td>
          <td>豉椒濕炒牛河</td>
          <td>$16.95</td>
        </tr>
      </table>
    </td>
  </tr>



  <tr>
    <td>
      <table>
        <th><strong>Vegetable & Tofu</strong></th>
        <th><strong>蔬菜豆腐類</strong></th>
        <tr>
          <td style="width:50%">Crispy Tofu</td>
          <td>脆皮豆腐</td>
          <td>$15.95</td>
        </tr>
        <tr>
          <td>Ma Po Tofu</td>
          <td>麻婆豆腐</td>
          <td>$15.95</td>
        </tr>
        <tr>
          <td>Tofu w. Mixed Vegetable</td>
          <td>羅漢扒豆腐</td>
          <td>$15.95</td>
        </tr>
        <tr>
          <td>Eggplant w. Garlic Sauce</td>
          <td>魚香茄子</td>
          <td>$15.95</td>
        </tr>
        <tr>
          <td>Pan Fried Snow Peas w. Black Bean Sauce</td>
          <td>干煸四季豆</td>
          <td>$15.95</td>
        </tr>
        <tr>
          <td>Pan Fried Vegetable</td>
          <td>清炒菜心</td>
          <td>$15.95</td>
        </tr>
        <tr>
          <td>Pan Fried Broccoli</td>
          <td>清炒西蘭花</td>
          <td>$15.95</td>
        </tr>
        <tr>
          <td>Bok Choy w. Garlic</td>
          <td>蒜蓉白菜仔</td>
          <td>$15.95</td>
        </tr>
        <tr>
          <td>Pan Fried Pea Leaves</td>
          <td>清炒豆苗</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Pea Leaves w. Chicken Broth</td>
          <td>上湯浸豆苗</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Pan Fried Water Spinach w. Pepper & Preserved Tofu</td>
          <td>椒絲腐乳通菜</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Yin Choy w. Chicken Broth</td>
          <td>上湯莧菜</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Pan Fried Chinese Broccoli w. Ginger & Cooking Wine</td>
          <td>姜汁酒炒唐芥藍</td>
          <td>$16.95</td>
        </tr>
        <tr>
          <td>Vegetable Leaves w. Scallion</td>
          <td>香蔥菜苗</td>
          <td>$16.95</td>
        </tr>
        <tr>
          <td>Chow Style Water Spinach</td>
          <td>潮式通菜</td>
          <td>$18.95</td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <th><strong>Casseroles</strong></th>
        <th><strong>四季煲仔菜</strong></th>
        <tr>
          <td style="width:50%">OX’s Tail w. Pumpkin in a Casserole</td>
          <td>南瓜牛尾煲</td>
          <td>$20.95</td>
        </tr>
        <tr>
          <td>Lamb Casserole</td>
          <td>夏日羊腩煲</td>
          <td>$25.95</td>
        </tr>
        <tr>
          <td>Seafood & Tofu Casserole</td>
          <td>海鮮豆腐煲</td>
          <td>$23.95</td>
        </tr>
        <tr>
          <td>Braised Fish Fillet Casserole</td>
          <td>紅燒斑腩煲</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Beef & Enoki Mushroom w. Satay Sauce</td>
          <td>沙爹金菇牛肉煲</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Salty Fish、Diced Chicken & Eggplant Casserole</td>
          <td>咸魚雞粒茄子煲</td>
          <td>$16.95</td>
        </tr>
        <tr>
          <td>Salty Fish、Diced Chicken & Tofu Casserole</td>
          <td>咸魚雞粒豆腐煲</td>
          <td>$16.95</td>
        </tr>
        <tr>
          <td>Hong Kong Style Deep Fried Eggplant in a Casserole</td>
          <td>港式紅燒茄子煲</td>
          <td>$16.95</td>
        </tr>
        <tr>
          <td>Chicken Casserole</td>
          <td>啫啫雞煲</td>
          <td>$18.95</td>
        </tr>
        <tr>
          <td>Frog w. Bitter Melon Casserole</td>
          <td>涼瓜田雞煲</td>
          <td>$22.95</td>
        </tr>
        <tr>
          <td>Braised Frog Casserole</td>
          <td>干逼田雞煲</td>
          <td>$22.95</td>
        </tr>
        <tr>
          <td>Clams w. Tom Yum Soup Casserole</td>
          <td>冬蔭花蜆煲</td>
          <td>$22.95</td>
        </tr>
        <tr>
          <td>Fish Fillet w. Tomato & Tofu Casserole</td>
          <td>番茄豆腐斑腩煲</td>
          <td>$20.95</td>
        </tr>
      </table>
    </td>
  </tr>


</table>
