<h3 style="text-align:center">
  <a href="../pdfs/fullMenu.pdf" style="color:blue">Click here for our dim sum take-out menu!</a>
</h3>

<table>
  <tr>
    <td>
      <table>
        <th><b>Appetizers</b></th>
        <th>頭盤</th>
        <tr>
          <td>Spring Roll</td>
          <td>春卷………………………………………..$4.95(3pcs)</td>
        </tr>
        <tr>
          <td>Duck’s Tongue w. Soy Sauce</td>
          <td>豉油皇鴨舌…………………………….$15.95</td>
        </tr>
        <tr>
          <td>Hot & Spicy Jellyfish(Cold Dish)</td>
          <td>麻辣海蜇…………………………………$14.95</td>
        </tr>
        <tr>
          <td>Crispy Fried Intestine</td>
          <td>脆皮炸大腸…………………………….$14.95</td>
        </tr>
        <tr>
          <td>Spare Ribs</td>
          <td>香味麻香骨……………………………….$14.95</td>
        </tr>
        <tr>
          <td>Shredded Squid w. Cashew Nuts</td>
          <td>腰果吊片絲………………………………$13.95</td>
        </tr>
        <tr>
          <td>Roast Pork w. BBQ. Sauce</td>
          <td>蜜汁叉燒……………………………………$12.95</td>
        </tr>
        <tr>
          <td>Pan Fried Stuffed Pepper</td>
          <td>煎釀角椒…………………………………..$12.95(6pcs)</td>
        </tr>
        <tr>
          <td>Shrimp Tofu Skin Roll</td>
          <td>鮮蝦腐皮卷……………………………….$11.95</td>
        </tr>
        <tr>
          <td>Dim Sum Platter(Shrimp Dumpling\Shaw Mai\Sping Roll)</td>
          <td>點心三拼…………………………………….$15.95</td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <th><b>Soup</b></th>
        <th>湯羹類</th>
        <tr>
          <td>House Special Seafood Soup</td>
          <td>一品海皇羹………………………………$15.95</td>
        </tr>
        <tr>
          <td>Chives w. Dry Scallop Soup</td>
          <td>韭王瑤柱羹……………………………………..$18.95</td>
        </tr>
        <tr>
          <td>Seafood w. Fish Maw Soup</td>
          <td>海皇魚肚羹……………………………………..$18.95</td>
        </tr>
        <tr>
          <td>Crab Meat w. Fish Maws Soup</td>
          <td>蟹肉魚肚羹………………………………………$18.95</td>
        </tr>
        <tr>
          <td>Beef w. Chinese Parsley Soup</td>
          <td>西湖牛肉羹………………………………………$15.95</td>
        </tr>
        <tr>
          <td>Velvety Chicken Corn Soup</td>
          <td>雞茸玉米羹………………………………………$15.95</td>
        </tr>
        <tr>
          <td>Sweet & Sour Soup(Taiwanese Style)</td>
          <td>寶島酸辣湯（每位）……………………..$3.95ea</td>
        </tr>
        <tr>
          <td>Egg Drop Soup</td>
          <td>蛋花湯（每位）………………………………..$3.50ea</td>
        </tr>
        <tr>
          <td>Abalone\Sea Cucumber\Goose Feet</td>
          <td>鮑魚海參鵝掌類</td>
        </tr>
        <tr>
          <td>Braised Goose Feet & Whole Abalone</td>
          <td>原隻鮑魚扣鵝掌（每位）…………………$M.P.</td>
        </tr>
        <tr>
          <td>Abalone w. Mushroom</td>
          <td>北菇鮑片………………………………………………..$33.95</td>
        </tr>
        <tr>
          <td>Abalone w. Vegetable</td>
          <td>碧綠鮑片……………………………………………….$33.95</td>
        </tr>
        <tr>
          <td>Abalone w. Oyster Sauce</td>
          <td>金銀鮑片………………………………………………..$35.95</td>
        </tr>
        <tr>
          <td>Sea Cucumber w. Mushroom & Vegetable</td>
          <td>碧綠北菇海參………………………………………..$32.95</td>
        </tr>
        <tr>
          <td>Mushroom w. Goose Feet</td>
          <td>北菇鵝掌煲…………………………………………….$32.95</td>
        </tr>
        <tr>
          <td>Abalone, Sea Cucumber & Goose Feet Casserole</td>
          <td>鮑參鵝掌煲……………………………………………..$42.95</td>
        </tr>
      </table>
    <td>
  </tr>
</table>

<table>
  <th>
    <td>海鮮類</td>
    <td>Seafood</td>
  </th>
  <th>
    <td>廚師精選</td>
    <td>Chef’s Special</td>
  </th>
  <th>
    <td>巧手鐵板類</td>
    <td>Hot Plates</td>
  </th>
</table>

<table>
  <th>
    <td>雞類</td>
    <td>Chicken</td>
  </th>
  <th>
    <td>牛類</td>
    <td>Steak and Beef</td>
  </th>
  <th>
    <td>豬肉類</td>
    <td>Pork</td>
  </th>
</table>

<table>
  <th>
    <td>四季煲仔菜</td>
    <td>Casseroles</td>
  </th>
  <th>
    <td>蔬菜豆腐類</td>
    <td>Vegetable & Tofu</td>
  </th>
  <th>
    <td>粉、面、飯類</td>
    <td>Rice Noodle & White Rice</td>
  </th>
</table>


<h3 style="text-align:center">
  <a href="../pdfs/fullMenu.pdf" style="color:blue">Click here if you would like to download the full menu listed above.</a>
</h3>
