<div class="textalign">
  <div>
    <a href = "http://www.nytimes.com/2016/10/05/dining/dim-sum-joy-luck-palace-chinatown.html?rref=collection%2Fcolumn%2Fhungry-city&action=click&contentCollection=dining&region=stream&module=stream_unit&version=latest&contentPlacement=6&pgtype=collection&referer=http://www.nytimes.com/column/hungry-city&_r=0"><img class = "gallery" src = "../images/nytimes.jpg"></a>
    <p>New York Times at Joy Luck Palace</p>
    <br/>
    <a href = "http://www.grubstreet.com/bestofnewyork/best-dim-sum-nyc.html"><img class = "gallery" src = "../images/grubstreet.jpg"></a>
    <p>Check out Grubstreet's latest review!</p>
    <br/>
    <a href = "http://ny.eater.com/2016/2/9/10953224/nyc-joy-luck-palace-review-dim-sum-mott"><img class = "gallery" src = "../images/robertsietsema.jpg"></a>
    <p>Check out Robert Sietsema's first impression at Joy Luck Palace</p>
  </div>
</div>
